.blog#blog
  .blog__wrapper 
    p.blog__title blog

    .categorie_container
      select.categorie_wrapper(name="categorie" required)
        option.categorie(value="all") All
        option.categorie(value="kitchen") Kitchen 
        option.categorie(value="office") Office 
        option.categorie(value="renovation") Renovation
      
    .blog__articles 
      a.blog__article(href="./page/index.html")
        .main_img: img(src=`../${IMG_DIR}blog/main_img.jpg`)
        p.title Jingumae office-M
        p.summary 普段は主に個人邸リノベーションの仕事が多いのですがオフィスリノベーションも行っています。    