.blog#blog.l-content
  .l-content__wrapper
    +c-breadcrumbs('BLOG & NOTE', false)
    .blog__gallery
      .blog__gallery-wrapper
        -for(let i = 0; i < contents.gallery.length; i++)
          a.blog__gallery-item(href="./page")
            +c-thumbnail('blog__gallery-thumbnail', 'blog', contents.gallery[i], i)
      

    +c-loadMore('')