.f-inter-R {
  font-family: "Inter",sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.f-inter-M {
  font-family: "Inter",sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

.f-inter-B {
  font-family: "Inter",sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}

.f-noto-T {
  font-family: "Noto Sans JP",sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 100;
}

.f-noto-R {
  font-family: "Noto Sans JP",sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.f-noto-M {
  font-family: "Noto Sans JP",sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

.f-noto-SB {
  font-family: "Inter",sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

.f-noto-B {
  font-family: "Inter",sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
}

.blog__gallery {
  margin: 1.7333333333vw auto 0;
}

.blog__gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2vw;
}

.blog__gallery-item {
  float: left;
  width: calc((100% - 1.2vw)/2);
}

.blog__gallery-item .c-thumbnail__main_img {
  aspect-ratio: 360/202;
}

.blog__gallery-item .c-thumbnail__text-wrapper {
  background: #000;
  box-sizing: border-box;
  height: 39.2vw;
  padding: 3.2vw 2.9333333333vw;
}

.blog__gallery-item .c-thumbnail__title {
  font-size: 3.2vw;
  margin-bottom: 2.4vw;
}

.blog__gallery-item .c-thumbnail__summary {
  font-size: 2.6666666667vw;
  letter-spacing: .03em;
  line-height: 150%;
}

.projects__gallery {
  margin: 1.3333333333vw auto 0;
}

.projects__gallery-item {
  width: 100%;
}

.projects__gallery-item .c-thumbnail__main_img {
  aspect-ratio: 730/307;
  height: auto;
  width: 100%;
}

.projects__gallery-item .c-thumbnail__main_img img {
  -o-object-fit: cover;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.projects__gallery-item .c-thumbnail__text-wrapper {
  background: #222;
  box-sizing: border-box;
  height: 28.5333333333vw;
  padding: 6.4vw 6.1333333333vw;
}

.projects__gallery-item .c-thumbnail__title {
  font-size: 4.2666666667vw;
  margin-bottom: 3.0666666667vw;
}

.projects__gallery-item .c-thumbnail__summary {
  font-size: 3.2vw;
  letter-spacing: .03em;
  line-height: 150%;
}

.projects__gallery-item:not(:first-child) {
  margin-top: 1.3333333333vw;
}

@media screen and (min-width: 769px) {
  .blog__gallery {
    margin: 11px auto 0;
  }

  .blog__gallery-wrapper {
    gap: .703125%;
  }

  .blog__gallery-item {
    container-type: inline-size;
    margin-bottom: .703125%;
    width: 32.8645833333%;
  }

  .blog__gallery-item .c-thumbnail__text-wrapper {
    height: 42.1052631579cqi;
    padding: 6.8111455108cqi 5.2631578947cqi;
  }

  .blog__gallery-item .c-thumbnail__title {
    font-size: 4.9689440994cqi;
    margin-bottom: 10px;
  }

  .blog__gallery-item .c-thumbnail__summary {
    font-size: 3.7267080745cqi;
  }

  .projects__gallery {
    margin: 5px auto 0;
  }

  .projects__gallery-item {
    height: 270px;
  }

  .projects__gallery-item .c-thumbnail {
    container-type: inline-size;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
  }

  .projects__gallery-item .c-thumbnail__main_img {
    width: 64.7474747475%;
  }

  .projects__gallery-item .c-thumbnail__text-wrapper {
    height: auto;
    padding: 8.0808080808cqi 3.4343434343cqi;
    width: 35.3535353535%;
  }

  .projects__gallery-item .c-thumbnail__title {
    font-size: 2.4242424242cqi;
    margin-bottom: 15px;
  }

  .projects__gallery-item .c-thumbnail__summary {
    font-size: 12px;
  }

  .projects__gallery-item:not(:first-child) {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1280px) {
  .blog__gallery-item .c-thumbnail__text-wrapper {
    height: 136px;
    padding: 22px 17px;
  }

  .blog__gallery-item .c-thumbnail__title {
    font-size: 16px;
  }

  .blog__gallery-item .c-thumbnail__summary {
    font-size: 12px;
  }

  .projects__gallery-item .c-thumbnail__text-wrapper {
    padding: 80px 34px;
  }

  .projects__gallery-item .c-thumbnail__title {
    font-size: 24px;
  }
}