.note__wrapper {
  margin-inline: auto;
  padding-bottom: 200px;
  padding-top: 90px;
  position: relative;
  width: 800px;
}

.note .categorie_container {
  margin-top: 20px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

.note .categorie_container .categorie_wrapper {
  border: #000 1px solid;
  border-radius: 999px;
  height: 20px;
  padding-left: 10px;
  width: 200px;
}

.note .categorie_container::after {
  background: #000;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  content: "";
  height: 5px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 7px;
}

.note__title {
  font-size: 25px;
  font-weight: 900;
}

.note__articles {
  -moz-column-count: 2;
  -moz-column-gap: 16px;
  column-count: 2;
  column-gap: 16px;
  margin-top: 20px;
  width: 100%;
}

.note__article {
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 16px;
  width: 100%;
}

.note__article .main_img {
  width: 100%;
}

.note__article .title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.note__article .summary {
  font-size: 14px;
  margin-top: 5px;
}

.project__wrapper {
  margin-inline: auto;
  padding-bottom: 200px;
  padding-top: 90px;
  width: 800px;
}

.project__title {
  font-size: 25px;
  font-weight: 900;
}

.project__articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.project__article {
  box-sizing: border-box;
  height: 400px;
  width: calc((100% - 20px)/2);
}

.project__article .summary {
  font-size: 12px;
  margin-top: 5px;
}

.project__article:nth-child(n+3) {
  margin-top: 20px;
}

.project__article .main_img {
  width: 100%;
}

.project__article .title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.project__article .summary {
  font-size: 14px;
  margin-top: 5px;
}