
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

title!=`${ page == top ? '' : `${page.title} | ` }FIELD LABO | フィールドラボ` 
meta(name='description' content=page.description)
link(rel="canonical" href!=CANONICAL_ROOT)

meta(property = "og:title" content!=page.title)
meta(property = "og:site_name" content!=page.title)
meta(property = "og:description" content!=page.description)
meta(property = "og:url" content!=CANONICAL_ROOT)
meta(property = "og:type" content!=meta_common.ogType)
meta(property = "og:image" content!=meta_common.ogPath)

meta(name = "twitter:card" content!='summary_large_image')
meta(name = "twitter:title" content!=page.title)
meta(name = "twitter:description" content!=page.description)
meta(name = "twitter:image" content!=page.ogPath)