@use '../../_base/settings' as *;
@use 'sass:math';

.topContents{
  margin-top: vw(12);
  width: 100%;

  &__title{
    font-size: vw(24);
    color: $wh;
    width: 100%;
    height: vw(67);
    background: $bk;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: vw(30);
  }
  
  &__ctrl{
    display: flex;
    width: 100%;
    margin-top: vw(12);
    
    .ctrl-item{
      width: 50%;
      border: vw(4) solid $bk;
      height: vw(67);
      padding-left: vw(16);
      display: flex;
      justify-content: left;
      align-items: center;

      &:not(:first-child){
        border-left: none;
      }

      &--name{
        font-size: vw(20);
        flex-shrink: 0;
      }
    }

    .sort{
      padding-right: vw(25);
      position: relative;

      &__lists{
        width: stretch;
        font-size: vw(24);
        padding-left: vw(20);
        padding-right: vw(25);
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;

        &:focus{
          outline: none;
        }
      }

      &__list{
        font-size: vw(24);
      }

      &::after{
        content: '';
        position: absolute;
        right: vw(27);
        top: 50%;
        translate: 0 -50%;
        transform: rotate(90deg);
        width: vw(11);
        height: auto;
        aspect-ratio: 11/17;
        @include mask-icon('../images/common/icon-arrow-r.svg', $bk);
        pointer-events: none;
      }
    }

    .order{
      &__ctrl{
        font-size: vw(20);
        width: vw(201);
        display: flex;
        justify-content: space-between;
        color: #d8d8d8;
        margin-left: vw(31);

        &-name{
          &:first-child{
            position: relative;
            &::after{
              content: '/';
              font-size: vw(26);
              font-weight: 400;
              color: #7f7f7f;
              position: absolute;
              right: vw(-36);
              top: 50%;
              translate: 0% -50%;
            }
          }
          &.is-active{
            color: $bk;
          }
        }
      }
    }

    &--fixed{
      position: fixed;
      display: flex;
      width: vw(640);
      margin-top: 0;
      bottom: vw(19);
      z-index: 100;
      background: $wh;
      @include fixed-toggle(translateY(40%));

      .sort{
        &::after{
          transform: rotate(90deg);
          width: vw(11);
        }
      }

      .order{
        &__ctrl{
          width: vw(181);
          margin-left: vw(27);

          &-name{
            &:first-child{
              &::after{
                right: vw(-26);
              }
            }
          }
        }
      }
  }
  }

  &__gallery{
    margin-top: vw(12);
    width: 100%;
    overflow: hidden;
  }

  &__item{
    width: vw(360);
    margin-bottom: vw(10);

    .btn{
      width: 100%;
    }

    .c-thumbnail{
      &__main_img{
        width: 100%;
      }   
      
      &__text-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: vw(25) vw(30);
      }

      &__title{
        font-size: vw(20);
        width: vw(271);
        line-height: 1.25;
      }

      &__open{
        width: vw(11);
      }
    }
  }

  .gutter-sizer{
    width: vw(10);
  }

  &__load{
    margin: vw(81) auto vw(47);
    width: vw(520);
    height: vw(98);
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: vw(28);
    display: flex;
    border: vw(2) solid $bk;
  }
}

@include mq(pc){
  .topContents{
    margin-top: 10px;
  
    &__head{
      display: flex;
      background: $bk;
      width: 100%;
      height: 43px;
      justify-content: space-between;
      align-items: center;
    }

    &__title{
      font-size: 14px;
      width: fit-content;
      height: 100%;
      display: flex;
      justify-content: left;
      align-items: center;
      padding-left: 18px;
    }

    &__ctrl{
      width: 383px;
      // margin: -38px 4px auto auto;
      margin: auto 5px auto auto;
      
      .ctrl-item{
        border: 1px solid $wh;
        height: 34px;
        padding-left: 12px;

        &--name{
          font-size: 10px;
          color: $wh;
        }
      }

      .sort{
        padding-right: 15px;
        
        &__lists{
          font-size: 12px;
          padding-left: 17px;
          padding-right: 18px;
          color: $wh;
          cursor: pointer;
        }

        &__list{
          font-size: 12px;
        }

        &__toggle{
          cursor: pointer;
          width: 7px;
          background: $wh;
        }

        &::after{
          right: 16px;
          width: 5px;
          background: $wh;
        }
      }

      .order{
        &__ctrl{
          margin: auto 5px auto auto;
          font-size: 13px;
          width: 114px;
          color: #888888;
          margin-left: 15px;

          &-name{
            &:first-child{
              &::after{
                font-size: 13px;
                color: #444444;
                right: -17px;
              }
            }
            &.is-active{
              color: $wh;
            }
          }
        }
      }

      &--fixed{
        width: 203px;
        flex-direction: column;
        bottom: auto;
        top: 82px;
        right: per(9, 1280);
        background: transparent;
        margin: 0;
        transform: translate(10%, 0);

        &.is-show{
          transform: translate(0, 0);
        }
        
        .ctrl-item{
          border: 2px solid $bk;
          height: 37px;
          padding-left: 11px;
          width: 100%;
          background: $wh;

          &--name{
            color: $bk;
          }

          &:not(:first-child){
            border-left: 2px solid $bk;
            margin-top: 7px;
          }
        }

        .sort{
          &__lists{
            cursor: pointer;
            color: $bk;
          }

          &__toggle{
            cursor: pointer;
            width: 7px;
            background: $bk;
          }

          &::after{
            width: 5px;
            background: $bk;
          }          
        }

        .order{

          &__ctrl{
            font-size: 13px;
            width: 114px;
            color: #888888;
            margin-left: 15px;

            &-name{
              &:first-child{
                &::after{
                  font-size: 13px;
                  color: #444444;
                  right: -17px;
                }
              }
              &.is-active{
                color: $bk;
              }
            }
          }
        }
      }
    }

    &__gallery{
      margin-top: 7px;
      width: 100%;
      overflow: hidden;
    }

    &__item{
      // width:calc((100% - (per(8, 1280)*3)) / 4);
      width: calc((100% - 7px * 3) / 4);
      margin-bottom: 7px;

      .c-thumbnail{
        &__main_img{
          width: 100%;
        }   
        
        &__text-wrapper{
          padding: 15px 23px 15px 13px;
        }

        &__title{
          font-size: 13px;
          width: per(181, 241);
        }

        &__open{
          width: 7px;
        }
      }
    }

    .gutter-sizer{
      width: 7px;
    }

    &__load{
      margin: 58px auto 79px;
      width: 497px;
      height: 49px;
      font-size:12px;
      border: 1px solid $bk;
    }
  }  
}

.topContents__modal{  
  &-imgs{
    margin-bottom: vw(59);

    > *:nth-child(n+2){
      margin-top: vw(20);
    }
  }

  &-img{
    width: 100%;
  }

  .text{
    font-size: vw(26);
    color: #fff;
    width: vw(655);
    margin-inline: auto;
    line-height: 205%;
    margin-bottom: vw(70);
  }

  .topContents__flex{
    display: flex;
    flex-direction: column;
    width: vw(651);
    justify-content: left;
    align-items: flex-start;
    margin-inline: auto;
    padding-bottom: vw(97);

    &-item{
      width: 100%;
    }

    &-head{
      font-size: vw(22);
      color: #888888;
    }
  }

  .related_articles{
    margin-bottom: vw(63);

    &-head{
      margin-bottom: vw(21);
    }
  }

  .related_article{
    &-inner{
      display: flex;
      justify-content: left;
      align-items: flex-end;      
    }
    &-icon{
      width: vw(26);
      height: auto;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $wh;
    }

    &-mask{
      width: vw(17);
      aspect-ratio: 1;
      height: auto;
      @include mask-icon('../images/common/icon-arrow-r_2.svg', $bk);
    }

    &-text{
      font-size: vw(28);
      margin-left: vw(19);
      color: $wh;
      width: fit-content;
    }

    &-genre{
      font-size: vw(20);
      color: #888888;
      margin: 0 auto auto vw(6);
      width: fit-content;
    }

    &:not(:first-child){
      margin-top: vw(17);
    }
  }

  .tag{
    &-head{
      margin-bottom: vw(32);
    }

    &-wrapper{
      display: flex;
      flex-wrap: wrap;
      gap: vw(8);
    }

    &-item{
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // padding: 0 vw(21);
      // height: vw(37);
      // background: $wh;
      // border-radius: 999px;
      // font-size: vw(24);

      a{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 vw(21);
        height: vw(37);
        background: $wh;
        border-radius: 999px;
        font-size: vw(24);        
      }
    }
  }
}

@include mq(pc){
  .topContents__modal{
    // モーダル内個別
    &-imgs{
      margin-bottom: 35px;

      > *:nth-child(n+2){
        margin-top: 27px;
      }
    }
    &-img{
      width: 100%;

      img{
        max-height: calc(100dvh - (15px*2));
        object-fit: contain;
        background: #2b2b2b;
      }
    }


    .text{
      font-size: 14px;
      padding-inline: 20px;
      width: 100%;
      margin-bottom: per(63, 990);
    }

    .topContents__flex{
      flex-direction: row;
      max-width: 912px;
      padding-bottom: per(67, 990);

      &-item{
        width: 50%;
      }

      &-head{
        font-size: 12px;
      }
    }

    .related_articles{
      margin-bottom: 0;

      &-head{
        margin-bottom: 20px;
      }
    }

    .related_article{
      &-icon{
        width: 14px;
      }

      &-mask{
        width: 9px;
      }

      &-text{
        font-size: 15px;
        margin-left: 10px;
      }

      &-genre{
        font-size: 10px;
        margin: 0 auto auto 6px;
      }

      &:not(:first-child){
        margin-top: 12px;
      }
    }

    .tag{
      &-head{
        margin-bottom: 11px;
      }

      &-wrapper{
        gap: 5px;
      }

      &-item{
        // padding: 0 12px;
        // height: 18px;
        // font-size: 12px;
        a{
          padding: 0 12px;
          height: 18px;
          font-size: 12px;          
        }
      }
    }
  }
}

// hover 
@include mq(pc){
  .topContents, .topContents__ctrl--fixed{
    .sort{
      &:hover{
        &::after{
          animation: moveArwY-down .3s $ease-out-cubic 1;
          @include kf-bounceX(moveArwY-down, 50%, 90deg);
        }
      }
    }
  }
  .topContents{
    &__item{
      .c-thumbnail__open{
        transition: .2s;
      }

      &:hover{
        .c-thumbnail__open{
          rotate: 90deg;
          scale: 1.3;
          transition: .2s;
        }
      }
    }
  }
  .topContents__modal{
    .related_article{
      &-text, &-mask{
        transition: .2s;
      }

      &-inner{
        width: fit-content;
        &:hover{
          .related_article-text{
            color: $ylw;
            transition: .2s;
          }

          .related_article-mask{
            animation: moveArwX .3s $ease-out-cubic 1;
            @include kf-arrowX(moveArwX, 30%);
          }
        }
      }

    }    

    .tag{
      &-item{
        a{
          transition:  .2s;
          box-sizing: border-box;
          border: 1px solid $wh;
          
          &:hover{
            transition:  .2s;
            background: $bk;
            color: $wh;
          }          
        }

      }
    }
  }
}