@use '../../_base/settings' as *;
@use 'sass:math';

.topMain{
  width: 100%;

  &__mv{
    width: 100%;
    aspect-ratio: 730/973;
    height: auto;

    .main_img{
      width: 100%;
    }

    .text-wrapper {
      position: absolute;
      bottom: vw(46);
      left: vw(48);
      color: $wh;

      .title{
        font-size: vw(42);
        padding: vw(13) vw(22);
        background: rgba(170,153,119,0.8);
        width: fit-content;
        letter-spacing: -0.01em;
      }

      .main_summary{
        font-size:vw(24);
        padding: vw(14) vw(24);
        background: $bk;
        width: fit-content;
        margin-left: vw(41);
      }
    }

    &--prev, &--next{
      width: vw(72);
    }

    &--prev{
      left: 0;
    }

    &--next{
      right: 0;
    }
  }
}

@include mq(pc){
  .topMain{
    &__mv{
      aspect-ratio: 990/419;

      .text-wrapper {
        bottom: 40px;
        left: 68px;

        .title{
          font-size: 25px;
          padding: 7px 13px;
        }

        .main_summary{
          font-size: 12px;
          padding: 7px 18px;
          margin-left: 30px;
        }
      }

      &--prev, &--next{
        width: 36px;
      }
    }
  }  
}