@use '../../_base/settings' as *;
@use 'sass:math';

#top{
  padding-block: 4px 0;
}
.topMain{
  width: 100%;

  &__mv{
    width: 100%;
    aspect-ratio: 730/973;
    height: auto;

    .main_img{
      width: 100%;

      img{
        object-fit: cover;
        aspect-ratio: 730/973;
      }
    }

    .text-wrapper {
      position: absolute;
      bottom: vw(46);
      left: vw(48);
      color: $wh;
      width: fit-content;
      max-width: vw(638);

      .title{
        font-size: vw(42);
        padding: vw(3) vw(22);
        background-color: transparent;
        background-image: linear-gradient(rgba(170,153,119,0.8), rgba(170,153,119,0.8));
        background-repeat: no-repeat;
        background-size: 0% 100%;
        width: fit-content;
        max-width: 100%;
        letter-spacing: -0.01em;
        line-height: 1.5;
      }

      .main_summary{
        font-size:vw(24);
        padding: vw(9) vw(24);
        background-color: transparent;
        background-image: linear-gradient($bk, $bk);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        width: fit-content;
        max-width: 100%;
        margin-left: vw(41);
        line-height: 1.75;
      }

      .title .char,
      .main_summary .char{
        display: inline-block;
        opacity: 0;
        white-space: pre;
      }
    }

    &--prev, &--next{
      width: vw(72);
    }

    &--prev{
      left: 0;
    }

    &--next{
      right: 0;
    }
  }
}

@include mq(pc){
  .topMain{
    &__mv{
      aspect-ratio: 990/419;

      .main_img{
        width: 100%;

        img{
          aspect-ratio: 990/419;
        }
      }
      .text-wrapper {
        bottom: 40px;
        left: 68px;
        max-width: 854px;

        .title{
          font-size: 25px;
          padding: 3px 13px;
          letter-spacing: 0.01em;
        }

        .main_summary{
          font-size: 12px;
          padding: 4px 18px;
          margin-left: 30px;
        }
      }

      &--prev, &--next{
        width: 36px;
      }
    }
  }  
}

// hover 
@include mq(pc){
  .topMain{
    &__mv{
      .main_img{
        transition: .4s;
      }

      .c-ctrl__prev, .c-ctrl__next{
        transition:  .4s;
        opacity: 0;
      }
      .c-ctrl__prev{
        left: -36px
      }

      .c-ctrl__next{
        right: -36px
      }

      &:hover{
        .main_img{
          filter: grayscale(100%);
        }

        .c-ctrl__prev, .c-ctrl__next{
          opacity: 1;
        }
        .c-ctrl__prev{
          left: 0px
          
        }

        .c-ctrl__next{
          right: 0px
        }
      }
    }
  }
}