extends ../../_layout/layout
include ../../_project/parts

block data
  include ../../_data/data_project
  include ../../_data/data_meta
  -page = project

block head

block content
  .wrapper#wrapper
    include ../../_modules/common/header
    include ../../_modules/project/content
    include ../../_modules/common/footer


block script



