@use '../../_base/settings' as *;
@use 'sass:math';

@mixin hbg-menu($display) {
  position: absolute;
  width: vw(26);
  top: 50%;
  transform: translateY(-50%);
  right: vw(33);

  &-inner{
    display: $display;
    width: 100%;
    height: vw(20);

    .line{
      width: 100%;
      height: vw(4);
      background-color: $wh;

      &:not(:first-child){
        margin-top: vw(4);
      }
    }
  }
}

.l-header{
  width:100%;
  height: vw(296);
  background: $bk;
  
  &__inner{
    padding-top: vw(72);
    box-sizing: border-box;
  }

  &__logo{
    width: vw(460);
    margin-inline: auto;
  }

  .c-nav{
    margin: vw(38) auto 0;
    justify-content: space-between;
    width: vw(585);

    &__list{
      font-size: vw(22);

      &:not(:last-child){
        &::before{
          right: vw(-30);
        }
      }
    }
  }

  &__menu{
    @include hbg-menu(none);
  }

}
.l-headerFixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: vw(100);
  background: $bk;
  z-index: 100;
  @include fixed-toggle(translateY(-20%));

  &__inner{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: vw(26);
    box-sizing: border-box;
  }

  &__logo{
    width: vw(247);
    display: block;
    margin-inline: auto;
  }

  .c-nav{
    display: none;
  }

  &__menu{
    @include hbg-menu(block);
  }
}
@include mq(pc){
  .l-header{
    margin-top: 5px;
    margin-inline: auto;
    max-width: 990px;
    height: 99px;

    &__inner{
      padding-top: 23px;
      position: relative;
    }
    
    &__logo{
      width: 272px;
    }

    .c-nav{
      margin: 0;
      position: absolute;
      flex-direction: column;
      justify-content: left;
      width: fit-content;
      top: 20px;
      right: 28px;

      &__list{
        font-size: 14.5px;

        &:not(:last-child){
          margin-bottom: 3px;
          &::before{
            display: none;
          }
        }
      }
    }

  }
  .l-headerFixed{
    width: per(1260, 1280);
    max-width: none;
    height: 65px;
    top: 7px;
    left: 50%;
    transform: translate(-50%, -25%);

    &.is-show{
      transform: translate(-50%, 0);
    }

    &__inner{
      padding-top: 16px;
    }
    &__logo{
      width: 168px;
    }

    .c-nav{
      display: none;

      @media screen and (min-width: 920px){
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 23px;
        flex-direction: row;
        justify-content: space-between;
        width: 296px;

        &__list{
          font-size: 12px;

          &:not(:last-child){
            padding-right: 23px;

            &::before{
              right: 8px;
            }
          }
        }
      }
    }

    &__menu{
      width: 19px;
      right: 25px;

      &-inner{
        height: 19px;

        .line{
          height: 3px;

          &:not(:first-child){
            margin-top: 3px;
          }
        }
      }

      @media screen and (min-width: 920px){
        display: none;
      }
    }
  }
}

// HBGメニュー
.l-header__modal{
  width: 100vw;
  height: 100dvh;
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: .3s;

  &.is-open{
    pointer-events: auto;
    opacity: 1;

    .l-header__modal-container{
      opacity: 1;
      transition: all .3s $ease-out-sine;
      transform: translateY(0);
    }

    .l-header__modal-bg{
      opacity: 1;
      transition: opacity .3s $ease-out-cubic;
    } 
  }
  
  &-bg{
    transition: opacity .3s $ease-out-cubic; 
    opacity: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
  } 
  
  &-container{
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    transform: translateY(-10%);
    transition: all .3s $ease-out-sine;
  }

  &-inner{
    background: $wh;
    width: 100%;
    height: vw(726);
    box-sizing: border-box;
    position: relative;
    padding-top: vw(159);
    font-size: vw(32);
  }

  &-top{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: vw(38);
    top: vw(44);
    width: vw(53);

    &-arrow{
      width: vw(8);
    }

    &-text{
      font-size: vw(20);
    }
  }

  &-btn{
    position: absolute;
    top: vw(40);
    right: vw(35);
    width: vw(21);
    height: auto;
    aspect-ratio: 1/1;
  }

  &-logo{
    width: em(412, 32);
    margin-inline: auto;
  }

  .c-nav{
    flex-direction: column;
    align-items: center;
    margin-top: em(55, 32);
    font-size: em(32, 32);
    text-align: center;

    .c-nav__list{
      color: $bk;
      letter-spacing: -0.03em;

      &:not(:first-child){
        margin-top: em(44, 32);
      }

      &:not(:last-child){
        &::before{
          display: none;
        }
      }
    }
  }

  .c-sns{
    margin: em(140, 32) auto 0;
    width: em(274, 32);

    li{
      width: em(34, 32);
    }
  }
}
@include mq(pc){
  .l-header__modal{
    &-inner{
      height: 340px;
      padding-top: 56px;
      font-size: 16px;
    }

    &-top{
      left: 36px;
      top: 33px;
      width: 39px;

      &-arrow{
        width: 6px;
      }

      &-text{
        font-size: 15px;
      }
    }

    &-btn{
      top: 31px;
      right: 38px;
      width: 15px;
    }    
  }

}

// hover
@include mq(pc){
  .l-header .c-nav__list,
  .l-headerFixed .c-nav__list{
    transition: .2s;

    &:hover{
      transition: .2s;
      color: $ylw;
    }
  }

  .l-header__modal{
    &-top{
      &:hover{
        .l-header__modal-top-text{
          opacity: 0.7;
        }
        .l-header__modal-top-arrow{
          animation: moveArwY-right .3s $ease-out-cubic 1;
          @include kf-bounceX(moveArwY-right, 50%);
        }
      }
    }

    &-btn{
      transition: .2s;

      &:hover{
        rotate: 90deg;
      }
    } 
    
    .c-nav__list{
      &:hover{
        color: $ylw;
      }
    }
  }
}
