@use '../../_base/settings' as *;
@use 'sass:math';

.l-header{
  width:100%;
  height: vw(296);
  background: $bk;
  
  &__inner{
    padding-top: vw(72);
    box-sizing: border-box;
  }

  &__logo{
    width: vw(460);
    margin-inline: auto;
  }

  &__nav{
    margin: vw(38) auto 0;
    display: flex;
    justify-content: space-between;
    width: vw(585);

    &-list{
      font-size: vw(22);
      color: $wh;
      white-space: nowrap;
      width: fit-content;

      &.is-current{
        color: $ylw;
      }

      &:not(:last-child){
        position: relative;
        &::before{
          content: '/';
          position: absolute;
          bottom: 0;
          right: vw(-30);
          color: #999999;
        }
      }
    }
  }

  &__menu{
    position: absolute;
    width: vw(26);
    top: 50%;
    transform: translateY(-50%);
    right: vw(33);

    &-inner{
      display: none;
      width: 100%;
      height: vw(20);

      .line{
        width: 100%;
        height: vw(4);
        background-color: $wh;

        &:not(:first-child){
          margin-top: vw(4);
        }
      }
    }
  }

  &.is-show{
    position: fixed;
    height: vw(100);
    z-index: 100;

    .l-header{
      &__inner{
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: vw(26);
      }
      &__logo{
        width: vw(247);
      }  

      &__nav{
        display: none;
      }

      &__menu{
        &-inner{
          display: block;
        }
      }
    }
  }
}

@include mq(pc){
  .l-header{
    margin-top: 5px;
    margin-inline: auto;
    max-width: 990px;
    height: 99px;

    &__inner{
      padding-top: 23px;
      position: relative;
    }
    
    &__logo{
      width: 272px;
    }

    &__nav{
      margin: 0;
      position: absolute;
      flex-direction: column;
      justify-content: left;
      width: fit-content;
      top: 20px;
      right: 28px;

      &-list{
        font-size: 14.5px;

        &:not(:last-child){
          margin-bottom: 3px;
          &::before{
            display: none;
          }
        }
      }
    }

    &.is-show{
      width: per(1260, 1280);
      max-width: none;
      height: 65px;
      top: 7px;
      left: 50%;
      transform: translate(-50%, 0);

      .l-header{
        &__inner{
          padding-top: 16px;
        }
        &__logo{
          width: 168px;
        }  

        &__nav{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 23px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 296px;

          &-list{
            font-size: 12px;

            &:not(:last-child){
              position: relative;
              &::before{
                display: block;
                right: -11px;
              }
            }
          }
        }

        &__menu{
          &-inner{
            display: none;
          }
        }
      }
    }
  }
}

.l-header__modal{
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  
    &-bg{
      width: 100%;
      height: 100%;
      background: #00000080;
    } 
    
    &-container{
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
    }

    &-inner{
      background: $wh;
      width: 100%;
      height: vw(726);
      box-sizing: border-box;
      position: relative;
      padding-top: vw(159);
    }

    &-top{
      align-items: center;
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: vw(38);
      top: vw(44);
      width: vw(53);

      &-arrow{
        width: vw(8);
      }

      &-text{
        font-size: vw(20);
      }
    }

    &-btn{
      position: absolute;
      top: vw(40);
      right: vw(35);
      width: vw(21);
      height: auto;
      aspect-ratio: 1/1;
    }

    &-logo{
      width: vw(412);
      margin-inline: auto;
    }

    &-nav{
      margin-top: vw(55);
      font-size: vw(32);
      text-align: center;

      a{
        letter-spacing: -0.03em;
        &:not(:first-child){
          margin-top: vw(44);
        }
      }
    }

    &-sns{
      margin: vw(140) auto 0;
    }
}