main.l-content
  .l-content__wrapper
    +c-breadcrumbs('', true)

    .faq#faq
      .faq__wrapper
        .faq__title-group
          h2.faq__title.f-inter-B faq
          p.faq__text.f-noto-R
            |フィールドラボのリノベーションについて
            br.sp
            |よくある質問形式にまとめてみました。
        .faq__items
          - const faqList = [0, 1, 2, 3]
          -for(let i = 0; i < faqList.length; i++)
            .faq__item
              .question
                button.question__button.btn-open
                  p.question__text.f-noto-R 他のリノベーション会社との違いは何でしょうか？
                  span.question__icon
        .faq__return
          a.faq__return-link(href="/about")
            .icon
            .text.f-inter-B about & contact

+l-modal('faq')
