-
  const contents = {
    gallery: [
      { title: 'Jingumae office-M', summary: 'オフィスの工事依頼です。今回は、流し台のあるスペースの部分リニューアル工事。40w オフィスの工事依頼です。今回は、流し台のあるスペースの部分リニューアル工事。80w オフィスの工事依頼です。今回流し...' },
      { title: 'Black steel plate outlet [original]', summary: 'オフィスの工事依頼です。今回は、流し台のあるスペースの部分リニューアル工事。40w オフィスの工事依頼です。今回は、流し台のあるスペースの部分リニューアル工事。80w オフィスの工事依頼です。今回流し...' },
      { title: 'Remake the signboard of the memory', summary: 'オフィスの工事依頼です。今回は、流し台のあるスペースの部分リニューアル工事。40w' },
      { title: 'kita-N70 After Renovation', summary: 'オフィスの工事依頼です。今回は、流し台のあるスペースの部分リニューアル工事。40w' },
      { title: 'ステンシルペイントが気になる', summary: 'オフィスの工事依頼です。今回は、流し台のあるスペースの部分リニューアル工事。40w' },
      { title: 'Jingumae office-M', summary: 'オフィスの工事依頼です。今回は、流し台のあるスペースの部分リニューアル工事。40w' },
      { title: 'Black steel plate outlet [original]', summary: 'オフィスの工事依頼です。今回は、流し台のあるスペースの部分リニューアル工事。40w' },
      { title: 'Remake the signboard of the memory', summary: 'オフィスの工事依頼です。今回は、流し台のあるスペースの部分リニューアル工事。40w' },
    ]
  }

  const parts = {
    genre: 'PROJECT',
    date: '2025.FEB',
    head: '南青山オフィスM リノベーション事例',
    text1: '以前にオフィスの部分改修をさせていただいたお客様からの工事依頼です。前回はワークスペース部分の改修だったのですが今回はそのときには手をつけなかったもう一室、流し台のあるスペースの部分リニューアル工事。ベンチ収納は<a href="#">こちら</a><a href="#" class="is-external">Houzz</a>でも紹介しています。主な目的は流し台周りの改修工事でしたが、加えてカーペット仕上げだった床をOSB合板を白のオイルステインで明るく爽やかなしつらえとしつつ収納がない部屋だった事もありベンチ収納を造作。',
    text2: '主な目的は流し台周りの改修工事でしたが、加えてカーペット仕上げだった床をOSB合板を白のオイルステインで明るく爽やかなしつらえとしつつ収納がない部屋だった事もありベンチ収納を造作。',
    cap: 'コンロはありませんが間口を広く取って電子レンジやティファール等を置けるスペースを想定。シンクの左右は引き出しとしています。',
    data: [
      {
        item: '物件名',
        text: 'machida-T189',
      },
      {
        item: '所在地',
        text: '神奈川県川崎市',
      },
      {
        item: '築年/面積',
        text: '築40年以上/S造2階建戸建住宅<br>2階部分 68.9平米<br>1階部分 104.0平米',
      },
      {
        item: '主な使用',
        text: '天井：石膏ボード＋クロス<br>壁 ：石膏ボード＋クロス<br>床 ：ナラ無垢フローリングUV塗装品<br>他 ：IKEA改特注キッチン＋モルタル天板<br>ユニットバス、IKEA改洗面台',
      },
      {
        item: '工事期間',
        text: '設計2ヶ月＋工事3.5ヶ月間',
      },
      {
        item: '工事竣工',
        text: '2021年10月',
      },
    ]
  }