-
  const main = {
    slide: [
      { title: 'After Renovation',
        summary: 'machida T173 リノベーションその後の住まい'
      },
      { title: '[2]After Renovation', 
        summary: 'machida T173 リノベーションその後の住まい'
      }
    ],
    sort: [
      'All Photos',
      'Kitchen',
      'Living',
      'Bathroom',
      'Washbasin',
      'Toilet',
      'Entrance',
      'Other',
      'Lighting',
      'Switch & Outlet',
      'Door & Window',
      'Color & Pattern',
      'Built-in',
      'DIY',
      'IKEA',
      'Hobby',
      'FIELD'
    ],
    gallery: [
      { title: 'Jingumae office-M', ttlJp: false },
      { title: 'Black steel plate outlet [original]', ttlJp: false },
      { title: 'Remake the signboard of the memory', ttlJp: false },
      { title: 'kita-N70 After Renovation', ttlJp: false },
      { title: 'ステンシルペイントが気になる', ttlJp: true },
      { title: 'Jingumae office-M', ttlJp: false },
      { title: 'Black steel plate outlet [original]', ttlJp: false },
      { title: 'Remake the signboard of the memory', ttlJp: false },
      { title: 'kita-N70 After Renovation', ttlJp: false },
      { title: 'ステンシルペイントが気になる', ttlJp: true },
      { title: 'Jingumae office-M', ttlJp: false },
      { title: 'Black steel plate outlet [original]', ttlJp: false },
      { title: 'Remake the signboard of the memory', ttlJp: false },
      { title: 'kita-N70 After Renovation', ttlJp: false },
      { title: 'ステンシルペイントが気になる', ttlJp: true },
      { title: 'Jingumae office-M', ttlJp: false },
      { title: 'Black steel plate outlet [original]', ttlJp: false },
      { title: 'Remake the signboard of the memory', ttlJp: false },
      { title: 'kita-N70 After Renovation', ttlJp: false },
      { title: 'ステンシルペイントが気になる', ttlJp: true },
      { title: 'Jingumae office-M', ttlJp: false },
      { title: 'Black steel plate outlet [original]', ttlJp: false },
      { title: 'Remake the signboard of the memory', ttlJp: false },
      { title: 'kita-N70 After Renovation', ttlJp: false },
      { title: 'ステンシルペイントが気になる', ttlJp: true },
      { title: 'Jingumae office-M', ttlJp: false },
      { title: 'Black steel plate outlet [original]', ttlJp: false },
      { title: 'Remake the signboard of the memory', ttlJp: false },
      { title: 'kita-N70 After Renovation', ttlJp: false },
      { title: 'ステンシルペイントが気になる', ttlJp: true },
      { title: 'Jingumae office-M', ttlJp: false },
    ]
  }

  const modal = {
    text: '以前にお取引のお客様からのオフィスの工事依頼です。今回は、流し台のあるスペースの部分リニューアル工事。',
    article: [
      { title: 'Jingumae Office M', ttlJp: false, genre: 'projects'},
      { title: 'ステンシルペイントが気になる', ttlJp: true, genre: 'blog & note'}
    ],
    tag: ['kitchen', 'inovation']
  }
