section.l-contents#l-contents.topContents.is-show 
  //- section.l-contents#l-contents.topContents
  .l-contents__wrapper 
    .topContents__head
      h1.topContents__title.f-inter-B PHOTO GALLERY
      .topContents__ctrl.f-inter-B
        .sort.ctrl-item
          p.sort__item.ctrl-item--name sort :
          select.sort__lists(name="categorie" required)
            -for(let i = 0; i < main.sort.length; i++)
              option.sort__list(value=main.sort[i].toLowerCase())= main.sort[i]
          .sort__toggle

        .order.ctrl-item
          p.order__item.ctrl-item--name order :
          .order__ctrl 
            btn.order__ctrl-random.order__ctrl-name.is-active random
            btn.order__ctrl-latest.order__ctrl-name latest

    .topContents__gallery
      .masonry.topContents__gallery-wrapper
        .gutter-sizer
        -for(let i = 0; i < main.gallery.length; i++)
          .topContents__item
            .btn-wrap
              button.btn.btn-open
                .inner
                  +c-thumbnail('topContents__gallery-item', 'top', main.gallery[i], i)
      
    +c-loadMore('')
    .topContents__toTop: +c-toTop

//- モーダル本体（空のシェル）
+l-modal('top')