@use '../../_base/settings' as *;
@use 'sass:math';

.blog{
  // border: 3px solid red;
  &__gallery{
    margin: vw(13) auto 0;
    &-wrapper{
      display: flex;
      gap: vw(9);
      flex-wrap: wrap;
    }

    &-item{
      float: left;
      width: calc((100% - vw(9))/2);

      .c-thumbnail{
        &__main_img{
          aspect-ratio: 360/202;
        }

        &__text-wrapper{
          padding: vw(24) vw(22);
          background: #000;
          height: vw(294);
          box-sizing: border-box;
        }

        &__title{
          font-size: vw(24);
          margin-bottom: vw(18);
        }

        &__summary{
          font-size: vw(20);
          letter-spacing: 0.03em;
          line-height: 150%;
        }
      }
    }
  }
}

@include mq(pc){
  .blog{
    &__gallery{
      margin: 11px auto 0;
      &-wrapper{
        gap: per(9, 1280);
      }

      &-item{
        $itemW: calc((100% - (per(9, 1280)*2))/3);
        width: $itemW;
        margin-bottom: per(9, 1280);
        container-type: inline-size;

        .c-thumbnail{
          &__text-wrapper{
            padding: cqi(22, 323) cqi(17, 323);
            height: cqi(136, 323);
          }

          &__title{
            margin-bottom: 10px;
            font-size: calc(16 / 322 * 100cqi);
          }

          &__summary{
            font-size: calc(12 / 322 * 100cqi);
          } 
        }
      }
    }
  }  
}

@include mq(pc-l){
  .blog{
    &__gallery{
      &-item{
        .c-thumbnail{
          &__text-wrapper{
            padding: 22px 17px;
            height: 136px;
          }

          &__title{
            font-size: 16px;
          }

          &__summary{
            font-size: 12px;
          }
        }
      }
    }
  }    
}