@use '../../_base/settings' as *;
@use 'sass:math';
.projects{
  &__gallery{
    margin: vw(10) auto 0;

    &-item{
      width: 100%;

      .c-thumbnail{
        &__main_img{
          img{
            aspect-ratio: 2/1;
            object-fit: cover;
          }
        }

        &__text-wrapper{
          padding: vw(48) vw(46);
          background: $bk;
          // height: vw(214);
          box-sizing: border-box;
          // display: flex;
          // flex-direction: column;
          // justify-content: center;
          // align-items: baseline;
        }

        &__title{
          font-size: vw(32);
          margin-bottom: vw(23);
        }

        &__summary{
          font-size: vw(24);
          letter-spacing: 0.03em;
          line-height: 150%;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }
      }

      &:not(:first-child){
        margin-top: vw(10);
      }
    }

    &--prev, &--next{
      width: vw(52);

      img{
        aspect-ratio: 1 !important;
      }
    }

    &--prev{
      left: 0;
    }

    &--next{
      right: 0;
    }
  }
}

@include mq(pc){
  .projects{
    &__gallery{
      margin: 5px auto 0;

      &-item{
        // height: 270px;

        .c-thumbnail{
          display: flex;
          flex-direction: row-reverse;
          height: 100%;
          container-type: inline-size;

          &__main_img{
            width: per(641,990);
          }

          &__text-wrapper{
            width: per(350, 990);
            padding: 0 cqi(34, 990);
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: baseline;
          }

          &__title{
            margin-bottom: 15px;
            font-size: calc(24 / 990 * 100cqi);
          }

          &__summary{
            font-size: 12px;
          } 
        }

        &:not(:first-child){
          margin-top: 5px;
        }
      }

      .swiper-slide{
        overflow: hidden;
      }
      
      &--prev, &--next{
        width: 36px;
      }
    }
  }  
}

// hover 
@include mq(pc){
  .projects{
    &__gallery{
      &--prev, &--next{
        width: 36px;
      }

      &--prev, &--next{
        transition:  .4s;
        opacity: 0;
      }
      &--prev{
        left: -36px
      }

      &--next{
        right: -36px
      }

      &:hover{
        .projects__gallery--prev, .projects__gallery--next{
          opacity: 1;
        }
        .projects__gallery--prev{
          left: 0px
          
        }

        .projects__gallery--next{
          right: 0px
        }
      }
    }
  }  
}