@use '../../_base/settings' as *;
@use 'sass:math';

.faq {
  &__wrapper {
    margin-top: vw(38);
  }

  &__title {
    font-size: vw(40);

    &-group {
      padding-inline: vw(20);
    }
  }

  &__text {
    margin-top: vw(10);
    font-size: vw(26);
    line-height: 1.7;
  }

  &__items {
    margin-top: vw(43);
  }

  &__return {
    margin-top: vw(35);
    padding-left: vw(30);
    
    &-link {
      display: flex;
      align-items: center;
      gap: vw(20);
      width: fit-content;
    }

    .icon {
      position: relative;
      width: vw(20);
      aspect-ratio: 1;
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        background-color: $bk;
        webkit-mask-image: url('../images/common/icon-back.svg');
        mask-image: url('../images/common/icon-back.svg');
        -webkit-mask-size: contain;
        mask-size: contain;
        mask-repeat: no-repeat;
      }
    }

    .text {
      font-size: vw(24);
      color: $bk;
      letter-spacing: -0.02em;
      line-height: 1;
    }
  }

  .question {
    &__button {
      position: relative;
      width: 100%;
      padding: vw(40) vw(32);
      background-color: $bk;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: vw(33);
        width: vw(28); 
        aspect-ratio: 1;
        background-color: #666;
        webkit-mask-image: url('../images/common/icon-open.svg');
        mask-image: url('../images/common/icon-open.svg');
        -webkit-mask-size: contain;
        mask-size: contain;
        mask-repeat: no-repeat;
        translate: 0 -50%;
      }
    }

    &__text {
      font-size: vw(26);
      color: #f7f7f7;
    }
  }

  @include mq(sp) {
    &__item {
      &:not(:first-of-type) {
        margin-top: vw(10);
      }
    }
  }

  @include mq(pc) {
    &__wrapper {
      margin-top: 34px;
    }

    &__title {
      font-size: 20px;

      &-group {
        display: flex;
        align-items: baseline;
        gap: 18px;
        padding: 0;
      }
    }

    &__text {
      margin: 0;
      font-size: 14px;
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      margin-top: 20px;
    }

    &__return {
      margin-top: 64px;
      padding: 0;
      
      &-link {
        gap: 12px;
      }

      .icon {
        width: 10px;
      }

      .text {
        font-size: 14px;
      }
    }

    .question {
      &__button {
        padding: 25px;

        &::before {
          width: 14px;
          right: 25px;
        }
      }

      &__text {
        font-size: 14px;
      }
    }
  }
}

.faqModal{
  font-size: vw(26);
  padding-bottom: vw(87);

  &__head{
    height: vw(88);
    color: #888888;
    padding-left: vw(25);
    display: flex;
    align-items: center;
    border-bottom: #333333 vw(2) solid;
  }

  &__contents{
    color: $wh;
    padding-top: vw(41);
    width: vw(663);
    margin-inline: auto;
    line-height: 175%;
    letter-spacing: 0.03em;

    > *:first-child{
      margin-top: 0 !important;
    }

    // 規定アキ
    > * + *{
      margin-top: vw(50);
    }

    > .faqModal__img + .faqModal__img{
      margin-top: vw(30);
    }
  }

  &__text{
    a{
      color: $ylw;
      display: inline;
      text-decoration-line: underline;
    }
  }

  @include mq(pc){
    font-size: 14px;
    padding-bottom: 60px;

    &__head{
      height: 47px;
      padding-left: 14px;
      padding-top: 7px;
      display: block;
      align-items: auto;
      border-bottom: #333333 1px solid;
    }

    &__contents{
      padding-top: 27px;
      width: 730px;

      // 規定アキ
      > * + *{
        margin-top: 50px;
      }

      > .faqModal__img + .faqModal__img{
        margin-top: 30px;
      }
    }

    &__text{
      a{
        color: $ylw;
        display: inline;
        text-decoration-line: underline;
      }
    }    
  }
}