@use '../../_base/settings' as *;
@use 'sass:math';

.faq {
  &__wrapper {
    margin-top: vw(38);
  }

  &__title {
    font-size: vw(40);

    &-group {
      padding-inline: vw(20);
    }
  }

  &__text {
    margin-top: vw(10);
    font-size: vw(26);
    line-height: 1.6;
  }

  &__items {
    margin-top: vw(43);
    width: 100%;
  }

  &__item{
    width: 100%;

    &:not(:first-of-type) {
      margin-top: vw(10);
    }
  }

  &__return {
    width: fit-content;
    margin-top: vw(35);
    padding-left: vw(30);
    
    &-link {
      display: flex;
      align-items: center;
      gap: vw(20);
      width: fit-content;
    }

    .icon {
      position: relative;
      width: vw(20);
      aspect-ratio: 1;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        background-color: $bk;
        webkit-mask-image: url('../images/common/icon-back.svg');
        mask-image: url('../images/common/icon-back.svg');
        -webkit-mask-size: cover;
        mask-size: cover;
        mask-repeat: no-repeat;
      }
    }

    .text {
      font-size: vw(24);
      color: $bk;
      letter-spacing: -0.02em;
      line-height: 1;
    }
  }

  .question {
    &__button {
      position: relative;
      padding: vw(35) vw(32);
      background-color: $bk;
      display: flex;
      justify-content: left;
      align-items: center;
    }

    &__icon{
      translate: 0 -50%;
      top: 50%;
      right: vw(33);
      position: absolute;
      webkit-mask-image: url('../images/common/icon-open.svg');
      mask-image: url('../images/common/icon-open.svg');
      -webkit-mask-size: cover;
      mask-size: cover;
      mask-repeat: no-repeat;
      background: #666666;
      width: vw(28);
      height: auto;
      aspect-ratio: 1;
    }

    &__text {
      font-size: vw(26);
      color: #f7f7f7;
      width: vw(577);
      line-height: 1.731;
    }
  }

  @include mq(pc) {
    .l-content{
      padding-block: 4px 29px;
    }
    
    &__wrapper {
      margin-top: 34px;
    }

    &__title {
      font-size: 20px;

      &-group {
        display: flex;
        align-items: baseline;
        gap: 18px;
        padding: 0;
      }
    }

    &__text {
      margin: 0;
      font-size: 14px;
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: max-content;
      gap: 10px;
      margin-top: 20px;
    }

    &__item{
      width: 100%;
      height: 100%;

      &:not(:first-of-type) {
        margin-top: 0;
      }

      .question,
      .question__button {
        height: 100%;
      }
    }

    &__return {
      margin-top: 64px;
      padding: 0;
      
      &-link {
        gap: 12px;
      }

      .icon {
        width: 10px;
      }

      .text {
        font-size: 14px;
      }
    }

    .question {
      &__button {
        padding: 21px 28px;

        &::before {
          width: 14px;
          right: 25px;
        }
      }

      &__icon{
        right: 29px;
        width: 14px;
      }

      &__text {
        font-size: 14px;
        width: per(398, 490);
      }
    }
  }
}

.faqModal{
  font-size: vw(26);
  padding-bottom: vw(87);

  &__head{
    // height: vw(88);
    color: #888888;
    padding: vw(23) vw(25) vw(35);
    display: flex;
    align-items: center;
    border-bottom: #333333 vw(2) solid;
    line-height: 1.731;
  }

  &__contents{
    color: $wh;
    padding-top: vw(41);
    width: vw(663);
    margin-inline: auto;
    letter-spacing: .05em;
    line-height: 189%;

    > *:first-child{
      margin-top: 0 !important;
    }

    // 規定アキ
    > * + *{
      margin-top: vw(50);
    }

    > .faqModal__img + .faqModal__img{
      margin-top: vw(30);
    }
  }

  &__text{
    a{
      color: $ylw;
      display: inline;
      text-decoration-line: underline;
    }
  }

  @include mq(pc){
    font-size: 14px;
    padding-bottom: 60px;

    &__head{
      padding: 7px 14px 20px;
      display: block;
      align-items: auto;
      border-bottom: #333333 1px solid;
    }

    &__contents{
      padding-top: 27px;
      width: 730px;

      // 規定アキ
      > * + *{
        margin-top: 33px;
      }

      > .faqModal__img + .faqModal__img{
        margin-top: 21px;
      }
    }

    &__text{
      a{
        color: $ylw;
        display: inline;
        text-decoration-line: underline;
        transition:  .2s;
        
        &:hover{
          text-decoration-line: none;
          transition:  .2s;
        }
      }
    }    
  }
}

.faq{
  .l-modal__container{
    max-width: 800px;
  }  
}


// hover 
@include mq(pc){
  .faq{
    .question {
      &__icon{
        transition: all .2s;
      }

      &__text{
        transition: .2s;
      }

      &:hover{
        .question__text{
          transition: .2s;
          color: $ylw;
        }

        .question__icon{
          // scale: 1.3;
          rotate: 90deg;
          transition: all .2s;
        }
      }
    }

    &__return {
      .text{
        transition: .2s;
      }

      &:hover{
        .text{
          color: $ylw;
          transition: .2s;
        }
        .icon {
          animation: moveArwX .4s cubic-bezier(.215,.61,.355,1) 1;
          @keyframes  moveArwX{
            0% { transform: translateX(0);}
            50% { opacity: 0; transform: translateX(-50%);}
            51% { opacity: 1; transform: translateX(50%);}
            100% { transform: translateX(0);}
          }              
        }        
      }
    }
  }
}