footer.footer#footer
  .footer__inner
    a(href="http://field-labo.com/"): h1.footer__logo FILED LABO 
    p.footer__address 〒205-0014 東京都羽村市羽東2-2-3
    p.footer__email shigeho.s@field-labo.com
    p.footer__copyright © 2016 - FIELD LABO All Rights Reserved.