//- header.l-header#l-header.is-show
header.l-header#l-header
  .l-header__inner
    a.l-header__logo(href="#"): h1: +c-logo('')
    nav.l-header__nav.f-inter-B
      a.l-header__nav-list.is-current(href="./blog") BLOG & NOTE
      a.l-header__nav-list(href="./projects") PROJECTS
      a.l-header__nav-list(href="./about-contact") ABOUT & CONTACT

    button.l-header__menu
      .l-header__menu-inner
        .line
        .line
        .line

//- HBGメニュー　
.l-header__modal
  .l-header__modal-bg
  .l-header__modal-container
    .l-header__modal-inner
      a.l-header__modal-top(href="#")
        .l-header__modal-top-arrow: img(src=`${IMG_DIR}common/icon-arrow-r.svg` alt="arrow")
        p.l-header__modal-top-text.f-inter-B top
      button.l-header__modal-btn
        .btn-close: img(src=`${IMG_DIR}common/icon-close.svg` alt="close")

      .l-header__modal-logo: +c-logo(true)        
      
      nav.l-header__modal-nav 
        a.f-inter-B(href="./blog") BLOG & NOTE
        a.f-inter-B(href="./projects") PROJECTS
        a.f-inter-B(href="./about-contact") ABOUT & CONTACT
      
      +c-sns('l-header__modal-sns', '')



