//- header.l-header#l-header.is-content --- headerが見えなくなったら ---
header.l-header#l-header
  .l-header__inner
    a.l-header__logo(href="#"): h1: +c-logo('')
    nav.l-header__nav.f-inter-B
      a.l-header__nav-list(href="./blog") BLOG & NOTE
      a.l-header__nav-list(href="./projects") PROJECTS
      a.l-header__nav-list(href="./about-contact") ABOUT & CONTACT

    button.l-header__menu.js-modalOpen(data-id='hbgModal')
      .l-header__menu-inner
        .line
        .line
        .line

//- HBGメニュー　
.c-modal.hbgModal#hbgModal
  .c-modal__bg.js-modalClose(data-id="hbgModal")
  .c-modal__container
    //- ↓↓↓↓↓↓↓↓↓↓↓中身ここから↓↓↓↓↓↓↓↓↓↓↓
    .c-modal__inner
      a.c-modal__top(href="#")
        .c-modal__top-arrow: img(src=`${IMG_DIR}common/icon-arrow-r.svg` alt="arrow")
        p.c-modal__top-text.f-inter-B top
      button.c-modal__btn.js-modalClose(data-id="hbgModal")
        .btn-close: img(src=`${IMG_DIR}common/icon-close.svg` alt="close")

      .c-modal__logo: +c-logo(true)        
      
      nav.c-modal__nav 
        a.f-inter-B(href="./blog") BLOG & NOTE
        a.f-inter-B(href="./projects") PROJECTS
        a.f-inter-B(href="./about-contact") ABOUT & CONTACT
      
      +c-sns('c-modal__sns', '')



