header.header#header
  .btn-wrap.hbg-menu__btn
    button.btn.js-modalOpen(data-id='hbgModal')
      .inner
        p ボタン 

  a(href="#"): h1 FIELD LABO

//- .modal.hbgModal#hbgModal
//-   .modal__bg.js-modalClose(data-id="hbgModal")
//-     .modal__container
//-       .modal__contents
//-         .modal__wrapper  
//-           .modal__inner
//-             button.modal__btn.js-modalClose(data-id="hbgModal")
//-               .btn-close ×
//-             a.modal__contact(href="#")
//-               p.modal__contact-text contact 
//-               .modal__contact-arrow →
            
//-             nav.modal__nav 
//-               a(href="#") Top
//-               a(href="#") Project
//-               a(href="#") Note
//-               a(href="#") About
//-               a(href="#") FAQ
            
//-             ul.modal__sns 
//-               li
//-                 a(href="#") Instagram
//-               li
//-                 a(href="#") Pinterest
//-               li
//-                 a(href="#") Facebook