mixin c-breadcrumbs()
  ul.c-breadcrumbs
    li.c-breadcrumbs__item
      span.c-breadcrumbs__page.f-inter-B about me & contact
    li.c-breadcrumbs__item
      a.c-breadcrumbs__page.f-inter-B(href="") faq