extends ../_layout/layout
include ../_project/parts
include ../_project/svg


block data
  include ../_data/data_top
  include ../_data/data_meta
  -page = top

block head


block content
  .wrapper#wrapper
    .modalOpenBg
      include ../_modules/common/header
      .l-content
        .l-content__wrapper
          include ../_modules/top/main
          include ../_modules/top/contents
      include ../_modules/common/footer
    
block script
  //- script(src=`${JS_DIR}static-top.js`)
  //- script(src="minimasonry.min.js")





