extends ../../_layout/layout
include ../../_project/parts

block data
  include ../../_data/data_blog
  include ../../_data/data_meta
  -page = blog

    
block head

block content
  .wrapper#wrapper
    include ../../_modules/common/header
    include ../../_modules/blog/content
    include ../../_modules/common/footer


block script



